*, *:before, *:after {
  box-sizing: border-box;
}

* { margin: 0; padding: 0; }

@font-face {
  font-family: system;
  src: url("/fonts/SF-Pro-Text-Regular.otf"), local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  position: absolute;
  background-color: #ffffff;
  font-family: "system";
  left: 35%;
  line-height: 22px;
}

.container {
  font-size: 0;
  width: 375px;
  margin-top: -6px;
}

/* Right arrow icon */
.arrow-right {
  float: right;
  padding-top: 11px;
}

/* Back arrow icon */
.back-arrow {
  display: inline-block;
  float: left;
}

/* Plan a trip */
h1 {
  color: #ffffff;
  font-size: 19px;
  padding-left: 120px;
}

/* Bus Lines and Destinations*/
h2 {
  color: white;
  font-size: 17px;
  font-weight: 100;
  margin-left: 19px;
}

/* Bus number and destination name */
h3 {
  margin-left: 19px;
  padding-top: 19px;
}

/* ETA if needed */
h4 {
  float: right;
  font-weight: lighter;
  padding-top: 19px;
}

/* Frequency */
h5 {
  font-size: 16px;
  font-weight: lighter;
  margin-left: 19px;
  margin-top: 5px;
  padding-bottom: 19px;
}

/* Bus lines */
li.eastbound, li.northbound, li.southbound, li.reroute, li.out-of-service {
  border-bottom: 1px solid #E6E6E6;
  padding-right: 19px;
}

/* Location and pin icons */
.location, .pin {
  display: inline-block;
  float: left;
  padding-top: 7px;
}

/* Back icon with Plan a Trip */
.plan-a-trip {
  background-color: #367670;
  height: 65px;
  padding-top: 19px;
  padding-left: 19px;
}

/* Search section */
.search {
  padding-left: 19px;
  text-align: center;
}

/* Search box */
.search-box {
  margin: 19px;
}

/* Search text */
.search input[type=text] {
  font-size: 17px;
  height: 37px;
  width: 300px;
  padding-left: 9px;
}

/* List of bus line suggestions */
.suggestions {
  background-color: #B0B0B0;
  color: #ffffff;
  height: 47px;
  padding-top: 12px;
}

ul.bus-list {
  color: #000000;
  font-size: 18px;
}
